
<section class="main comWidth">
<!--左边-->
  <div class="main-left">
      <h3><b>作者列表</b></h3>
      <% if (authors.length) { %>  
      <ul class="authorlist-box">
        <% authors.forEach(function(author){ %>  
        <li>
           <a href='/author/<%= author.id %>' class="title"><%= author.name %></a>&nbsp;&nbsp;&nbsp;&nbsp;共<i><%= author.loved.length %></i>人收藏</i><hr>
           作品列表：&nbsp;&nbsp;
           <% if (author.novels.length) { %>
           <% author.novels.forEach(function(novel){ %> 
           /<a href='/novel/<%= novel.id %>' class="title"><%= novel.name %></a> 
           <% }) %> 
           <% } %>  
        </li>
        <% }) %> 
      </ul>
      <% } %> 
      
      <!---页码-->
      <% if (totalPage>1) { %> 
      <ul class="pagination">
        <li><a href="/author-list?p=0">首页</a></li>
        <% if(currentPage==totalPage){  %> 
          <li><a>&laquo;</a></li>
        <% }else{ %>
          <li><a href="/author-list?p=<%=(currentPage-1) %>">&laquo;</a></li>
        <% } %>  
        <% if(currentPage>2){  %> 
          <% var last=((currentPage+3)<totalPage)?(currentPage+3):totalPage %>
          <% for(var i=currentPage-2;i<last;i++){ %>
            <% if (i==currentPage) { %> 
              <li ><a id="curpage" href="/author-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% }else{ %>
              <li><a href="/author-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% } %>
          <% } %>
        <% }else{ %>
          <% var last=(totalPage<5)?totalPage:5 %>
          <% for(var i=0;i<last;i++){ %>
            <% if (i==currentPage) { %> 
              <li ><a id="curpage" href="/author-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% }else{ %>
              <li><a href="/author-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% } %>
          <% } %>
        <% } %> 
        <% if(currentPage+1==totalPage){  %> 
          <li><a>&raquo;</a></li>
        <% }else{ %>
          <li><a href="/author-list?p=<%=currentPage+1 %>">&raquo;</a></li>
        <% } %> 
        <li><a href="/author-list?p=<%=(totalPage-1) %>">末页</a></li> 
      </ul>
      <% } %>
  </div>
  <% include includes/right %>
</section>
