
<!--主体-->
<section class="main comWidth">
<!--左边-->
  <div class="main-left">
      <h3><b>全部扫文单</b></h3>
      <% if (collections.length) { %> 
      <ul class="collectlist-box">
        <% collections.forEach(function(collection){ %>  
        <!---item-->
        <li>
          <div style="background:url(<%= collection.cover %>) center center no-repeat">
          <a href='/collect/<%= collection.id %>'>
            <h3><%= collection.name %></h3>
            <h5>by&nbsp;<i><%= collection.editor.name %></i></h5>
            <%if(_user!==undefined){%>
              <button type="button" class="btn btn-danger btn center-block lovebtn" data-toggle="modal" data-target="#myLoved" data-tid="<%=collection._id %>" data-uid="<%=_user._id %>" id="lovedbtn" >收藏</button>
            <% }else{ %>
              <button type="button" class="btn btn-danger btn center-block" data-toggle="modal" data-target="#mySignin" id="lovedbtn">收藏</button>
            <% } %>
          </a>
          </div>
          <p><span class="pull-left">共<i><%= collection.novels.length %></i>篇文</span><span class="pull-right">共<i><%= collection.loved.length %></i>人收藏</span></p>
        </li>
        <% }) %> 
      </ul>
      <% } %> 

      <!---页码-->
      <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="curpage"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
      </ul>

  </div>
  <% include includes/right %>
</section>

