
<!--主体-->
<section class="main comWidth">
<!--左边-->
  <div class="main-left">
      <h3><b>全部扫文单</b></h3>
      <% if (collections.length) { %> 
      <ul class="collectlist-box">
        <% collections.forEach(function(collection){ %>  
        <!---item-->
        <li>
          <div style="background:url(<%= collection.cover %>) center center no-repeat">
          <a href='/collect/<%= collection.id %>'>
            <h3><%= collection.name %></h3>
            <h5>by&nbsp;<i><%= collection.editor.name %></i></h5>
            <%if(_user!==undefined){%>
              <button type="button" class="btn btn-danger btn center-block lovebtn"  data-tid="<%=collection._id %>" data-uid="<%=_user._id %>" id="lovedbtn" >收藏</button>
            <% }else{ %>
              <button type="button" class="btn btn-danger btn center-block" data-toggle="modal" data-target="#mySignin" id="lovedbtn">收藏</button>
            <% } %>
          </a>
          </div>
          <p><span class="pull-left">共<i><%= collection.novels.length %></i>篇文</span><span class="pull-right">共<i><%= collection.loved.length %></i>人收藏</span></p>
        </li>
        <% }) %> 
      </ul>
      <% } %> 

      <!---页码-->
      <% if (totalPage>1) { %> 
      <ul class="pagination">
        <li><a href="/collect-list?p=0">首页</a></li>
        <% if(currentPage==totalPage){  %> 
          <li><a>&laquo;</a></li>
        <% }else{ %>
          <li><a href="/collect-list?p=<%=(currentPage-1) %>">&laquo;</a></li>
        <% } %>  
        <% if(currentPage>2){  %> 
          <% var last=((currentPage+3)<totalPage)?(currentPage+3):totalPage %>
          <% for(var i=currentPage-2;i<last;i++){ %>
            <% if (i==currentPage) { %> 
              <li ><a id="curpage" href="/collect-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% }else{ %>
              <li><a href="/collect-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% } %>
          <% } %>
        <% }else{ %>
          <% var last=(totalPage<5)?totalPage:5 %>
          <% for(var i=0;i<last;i++){ %>
            <% if (i==currentPage) { %> 
              <li ><a id="curpage" href="/collect-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% }else{ %>
              <li><a href="/collect-list?p=<%=i %>"><%=(i+1) %></a></li>
            <% } %>
          <% } %>
        <% } %> 
        <% if(currentPage+1==totalPage){  %> 
          <li><a>&raquo;</a></li>
        <% }else{ %>
          <li><a href="/collect-list?p=<%=currentPage+1 %>">&raquo;</a></li>
        <% } %> 
        <li><a href="/collect-list?p=<%=(totalPage-1) %>">末页</a></li> 
      </ul>
      <% } %>

  </div>
  <% include includes/right %>
</section>

