
<!--主体-->
<section class="main comWidth">
<!--左边-->
  <div class="main-left">
    <div class="novel-box">
      <h1><b><%= collection.name %></b></h1>
      &nbsp;&nbsp;&nbsp;&nbsp;共<i><%= collection.look %></i>人查看
      &nbsp;&nbsp;&nbsp;&nbsp;共<i><%= collection.loved.length %></i>人收藏
      &nbsp;&nbsp;by&nbsp;<i><%= collection.editor.name %></i>
      <%if(_user!==undefined && collection.editor._id ==_user._id){%>
      <a href="javascript:void(0);" class="edit" data-toggle="modal" data-target="#myCollect"><i class="iconfont icon-comment-pen"></i></a>
      <% }else{ %>
      <a href="javascript:void(0);" class="edit" data-toggle="modal" data-target="#mySignin"><i class="iconfont icon-comment-pen"></i></a>
      <% } %>
      <%if(_user!==undefined){%>
        <button type="button" class="btn pull-right btn-warning btn-sm lovebtn" data-tid="<%=collection._id %>" data-uid="<%=_user._id %>">收藏</button>
      <% }else{ %>
        <button type="button" class="btn pull-right btn-warning btn-sm"  data-toggle="modal" data-target="#mySignin">收藏</button>
      <% } %>
      <h3><b>简介</b></h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= collection.description %></p>
    </div>
    <div class="love-box">
      <h3><b>收录作品</b>&nbsp;&nbsp;&nbsp;&nbsp;共<i><%= collection.novels.length %></i>篇</h3>
      <% if (collection.novels.length) { %> 
      <ul class="collection-box">
        <% collection.novels.forEach(function(novel){ %>  
        <li class="item-<%= novel._id %>">
           <a href='/novel/<%= novel.id %>' class="title"><%= novel.name %></a>
           &nbsp;&nbsp;&nbsp;&nbsp;作者：<a href='/author/<%= novel.author.id %>' class="author"><%=novel.author.name %></a>
           &nbsp;&nbsp;&nbsp;&nbsp;平均分：
           <% if (novel.comments.length) { %> 
            <% var avg=0 %>
            <% novel.comments.forEach(function(comment){ %> 
             <% avg+=comment.score %>
            <% }) %> 
            <% avg =avg/ novel.comments.length %>
            <%=avg.toFixed(2) %>
            <% for(var i=0;i<Math.floor(avg/2);i++){ %>
              <i class="score iconfont icon-star"></i>
            <% } %>
            <% for(var i=0;i<Math.floor(avg)%2;i++){ %>
              <i class="score iconfont icon-wujiaoxing"></i>
            <% } %>
            <% }else{%>
              未评分
            <% } %> 
            <%if(_user!==undefined && collection.editor._id ==_user._id){%>
              <button type="button" class="btn btn-sm btn-danger more-btn pull-right cancel" data-tid="<%= novel._id %>" data-uid="<%=collection._id %>">删除</button>
            <% } %>
           <br>
           <b><%=novel.type %></b>/<b><%=novel.progress %></b>/<b><%=novel.len %></b>/<b><%=novel.year %></b>/<b><%=novel.taste %></b>/<b><%=novel.actor %></b><br>
           <hr>
           <% if (novel.tags.length) { %> 
           <% novel.tags.forEach(function(tag){ %>  
              <a href="/result?key=<%=tag %>&p=0" class="label"><%=tag %></a> 
           <% }) %> 
           <% } %>
        </li>
        <% }) %> 
      </ul>
      <% } %>
    </div>
  </div>
  <% include includes/right %>
  <% include includes/edit-collectbox %>
</section>
