
<section class="main comWidth">
<!--左边-->
  <div class="main-left">
    <!--数据box-->
    <% if (comments.length) { %> 
    <ul class="content-box">
    <% comments.forEach(function(comment){ %>  
    <!--item-->
      <li>
        <div class="content-left"> 
          <a class="leftphoto"  href="/back/<%= comment.userID.id %>" style="background-image:url('/<%= comment.userID.photo %>')"></a> 
          <a href=""><%= comment.userID.name %></a>
        </div>
        <div class="content-right"> 
        <%= comment.state %><a href='/novel/<%= comment.novelID.id %>' class="title"><%=comment.novelID.name %></a>&nbsp;&nbsp;&nbsp;&nbsp;作者：<a href='/author/<%=comment.novelID.author.id %>' class="author"><%=comment.novelID.author.name %></a>&nbsp;&nbsp;&nbsp;&nbsp;评分：
        <% for(var i=0;i<Math.floor(comment.score/2);i++){ %>
          <i class="score iconfont icon-star"></i>
        <% } %>
        <% for(var i=0;i<Math.floor(comment.score)%2;i++){ %>
          <i class="score iconfont icon-wujiaoxing"></i>
        <% } %>
        <span class="pull-right" style="font-size:13px;"><%=moment(comment.meta.updateAt).format(' hh:mm:ss    MM/DD/YYYY') %></span>
        <hr>
        <% if (comment.novelID.tags.length) { %> 
        <% comment.novelID.tags.forEach(function(item){ %>
          <a href="/result?key=<%=item %>&p=0" class="label"><%=item %></a>
        <% }) %>
        <% } %>
        <div class="comment">
          <p><%= comment.text %></p>
        </div>   
        </div>
      </li>
      <% }) %>
    </ul>
    <% } %> 
    <!---页码-->
    <% if (totalPage>1) { %> 
    <ul class="pagination">
      <li><a href="/?p=0">首页</a></li>
      <% if(currentPage==totalPage){  %> 
        <li><a>&laquo;</a></li>
      <% }else{ %>
        <li><a href="/?p=<%=(currentPage-1) %>">&laquo;</a></li>
      <% } %>  
      <% if(currentPage>2){  %> 
        <% var last=((currentPage+3)<totalPage)?(currentPage+3):totalPage %>
        <% for(var i=currentPage-2;i<last;i++){ %>
          <% if (i==currentPage) { %> 
            <li ><a id="curpage" href="/?p=<%=i %>"><%=(i+1) %></a></li>
          <% }else{ %>
            <li><a href="/?p=<%=i %>"><%=(i+1) %></a></li>
          <% } %>
        <% } %>
      <% }else{ %>
        <% var last=(totalPage<5)?totalPage:5 %>
        <% for(var i=0;i<last;i++){ %>
          <% if (i==currentPage) { %> 
            <li ><a id="curpage" href="/?p=<%=i %>"><%=(i+1) %></a></li>
          <% }else{ %>
            <li><a href="/?p=<%=i %>"><%=(i+1) %></a></li>
          <% } %>
        <% } %>
      <% } %> 
      <% if(currentPage+1==totalPage){  %> 
        <li><a>&raquo;</a></li>
      <% }else{ %>
        <li><a href="/?p=<%=currentPage+1 %>">&raquo;</a></li>
      <% } %> 
      <li><a href="/?p=<%=(totalPage-1) %>">末页</a></li> 
    </ul>
    <% } %>
  </div>
  <% include includes/right %>
</section>
