
<!--主体-->
<section class="main comWidth">
<!--左边-->
  <div class="main-left">
    <div class="novel-box">
      <h1><b><%=novel.name %></b></h1>&nbsp;&nbsp;&nbsp;&nbsp;作者：
      <a href='/author/<%=novel.author.id %>' class="author"><%=novel.author.name %></a>
      &nbsp;&nbsp;&nbsp;&nbsp;共<i><%= novel.look %></i>人查看
      <%if(_user!==undefined){%>
      <a href="javascript:void(0);" class="edit" data-toggle="modal" data-target="#myNovel"><i class="iconfont icon-comment-pen"></i></a>
      <% }else{ %> 
      <a href="javascript:void(0);" class="edit" data-toggle="modal" data-target="#mySignin"><i class="iconfont icon-comment-pen"></i></a>
      <% } %>
      <i><%= novel.editor.name %></i>
      <span class="dropdown pull-right">
           <button type="button" class="btn dropdown-toggle btn-warning btn-sm" id="dropdownMenu1" data-toggle="dropdown">加入扫文单</button>
           <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dropdownMenu1">
             <% if (_user==undefined) { %> 
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#mySignin">新建扫文单</a></li>
             <% }else{ %>
                <% _user.editcollect.forEach(function(collect){ %>
                  <li type="button" role="presentation" > 
                    <a  role="menuitem" tabindex="-1" class="lovebtn" data-tid="<%= novel._id %>" data-uid="<%= collect._id %>"><%= collect.name %></a>
                  </li>
                <% }) %> 
                <li role="presentation">
                 <a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myCollect">新建扫文单</a>
                </li>
             <% } %>
           </ul>
       </span>
      <br>
      共<i><%=novel.comments.length %></i>人评分&nbsp;&nbsp;&nbsp;&nbsp;
      平均分：
      <% if (novel.comments.length) { %> 
      <% var avg=0 %>
      <% novel.comments.forEach(function(comment){ %> 
          <% avg+=comment.score %>
      <% }) %> 
      <% avg =avg/ novel.comments.length %>
      <%=avg.toFixed(2) %>
        <% for(var i=0;i<Math.floor(avg/2);i++){ %>
          <i class="score iconfont icon-star"></i>
        <% } %>
        <% for(var i=0;i<Math.floor(avg)%2;i++){ %>
          <i class="score iconfont icon-wujiaoxing"></i>
        <% } %>
      <% }else{%>
        未评分
      <% } %>  
      <table>
        <tr><th>类型：</th><th><%=novel.type %></th></tr>
        <tr><th>进度：</th><th><%=novel.progress %></th></tr>
        <tr><th>篇幅：</th><th><%=novel.len %></th></tr>
        <tr><th>时间：</th><th><%=novel.year %></th></tr>
        <tr><th>口味：</th><th><%=novel.taste %></th></tr>
        <tr><th>人物：</th><th><%=novel.actor %></th></tr>
        <tr><th>首发地址：</th><th><%=novel.web %></th></tr>
        <tr><th>常用标签：</th>
        <th>
          <% if (novel.tags.length) { %> 
            <% novel.tags.forEach(function(tag){ %>  
              <a href="/result?key=<%=tag %>&p=0" class="label"><%=tag %></a> 
            <% }) %> 
          <% } %>
        </th>
        </tr>
      </table>
    </div>
    <div class="love-box">
    <form method="post" action="/new/comment">
      <input type="text" style="display: none" name='newcomment[novelID]' value="<%= novel._id %>" >
      <%if(_user!==undefined){%>
      <input type="text" name='newcomment[userID]' style="display: none" value="<%= _user._id %>" >
      <% } %> 
      状态：
      <input type="radio" name='newcomment[state]' class="state" value='想看' id="state-1">
      <label for="state-1" type="button" class="btn btn-sm btn-default">想看</label>
      <input type="radio" name='newcomment[state]' class="state"  value='在看' id="state-2">
      <label for="state-2" type="button" class="btn btn-sm btn-default">在看</label>
      <input type="radio" name='newcomment[state]' class="state"  value='看过' id="state-3">
      <label for="state-3" type="button" class="btn btn-sm btn-default">看过</label>
      <input type="radio" name='newcomment[state]' class="state"  value='搁置' id="state-4">
      <label for="state-4" type="button" class="btn btn-sm btn-default">搁置</label>
      <input type="radio" name='newcomment[state]' class="state"  value='抛弃' id="state-5">
      <label for="state-5" type="button" class="btn btn-sm btn-default">抛弃</label>
      &nbsp;&nbsp;打分：<select name='newcomment[score]'>
              <option value="0" selected>0</option><option value="1">1</option><option value="2" >2</option>
              <option value="3" selected>3</option><option value="4">4</option><option value="5" >5</option>
              <option value="6" selected>6</option><option value="7">7</option><option value="8" >8</option>
              <option value="9" selected>9</option><option value="10">10</option>
            </select><br>
      添加标签：<input type="text" name='newcomment[tag]'>
    </div>
    <textarea name='newcomment[text]' ></textarea>
    <%if(_user!==undefined){%>
      <button type="submit" class="btn btn-danger pull-right btn-sm commentbtn">评论</button>
    <% }else{ %> 
      <a href="#" type="button" class="btn btn-danger pull-right btn-sm" data-toggle="modal" data-target="#mySignin" >评论</a>
    <% } %>
    </form>
    <% if (novel.comments.length) { %> 
    <ul class="commentbox">
      <% novel.comments.forEach(function(comment){ %>  
        <li>
          <img src="/<%=comment.userID.photo %>"><a href=""><%=comment.userID.name %></a>
          &nbsp;&nbsp;&nbsp;评分：
          <% for(var i=0;i<Math.floor(comment.score/2);i++){ %>
            <i class="score iconfont icon-star"></i>
          <% } %>
          <% for(var i=0;i<Math.floor(comment.score)%2;i++){ %>
            <i class="score iconfont icon-wujiaoxing"></i>
          <% } %>
          &nbsp;&nbsp;&nbsp;状态：
          <b><%=comment.state %></b>
          <a style="color:#999" class="reply pull-right"  href='#' ><%=moment(comment.meta.updateAt).format(' hh:mm:ss    MM/DD/YYYY') %></a>
          <p style="text-indent:28px"><%=comment.text %></p>
          <!--隐藏空间,暂时不做互相评论功能
          <ul class='replybox'>
            <li style="border:none">
              <img src="/<%=comment.userID.photo %>"><a href=""><%=comment.userID.name %></a>
              <textarea></textarea>
              <button type="submit" class="btn btn-danger pull-right btn-sm commentbtn">回复</button>
            </li>
          </ul>-->
        </li>
      <% }) %> 
    </ul>
    <% } %>
    <ul class="pagination">
      <li><a href="#comments">&laquo;</a></li>
      <li class="curpage"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
<% include includes/right %>
</section>
<% include includes/edit-novelbox %>
<% include includes/add-collectbox %>